#overlay_root {
	-fx-padding: 0px;
	-fx-border-style: none;
	-fx-background-color: #FFF5; /* semitransparent */
	-fx-fill: transparent;
}

#overlay_canvas {
	-fx-fill: transparent;
	-fx-border-style: none;
}